<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant.Properties.Settings.RestuarantDBConnectionString"
            connectionString="Data Source=OUN-CHANRAKSMEY\DBSERVER;Initial Catalog=RestuarantDB;User ID=smey"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>